.whatsapp-link {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #77dd77;
    border-radius: 20px;
    border: 3px solid #008000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.whatsapp-link:hover {
    background-color: #008000;
    color: #fff;
}

.whatsapp-link a {
    color: #000;
    text-decoration: none;
    position: relative;
}

.whatsapp-link:hover:before {
    content: "img/qr.png";
    display: block;
    position: absolute;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.whatsapp-link:hover:before img {
    content: url('img/QR.png');
    display: block;
    max-width: 200px;
    max-height: 200px;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/walltogif2_LQ.jpg'), url('img/walltogif2_HQ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0; /* начальное значение непрозрачности */
    transition: opacity 1s ease-in-out; /* добавляем анимацию */
   /* -webkit-user-select: none; /* Для Safari */
    /* -moz-user-select: none; /* Для Firefox */
    /* -ms-user-select: none; /* Для Internet Explorer/Edge */
    /* user-select: none; */
}

@media (min-width: 768px) {
    body {
        background-image: url('img/walltogif2_LQ.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url('img/walltogif2_HQ.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

body.loaded {
    opacity: 1; /* устанавливаем полную непрозрачность после загрузки */
}

.menu {
    position: relative;
    z-index: 1000;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3);
    transition: max-height 1s;
    padding: 0;
}

.submenu li {
    display: none;
}

.submenu li:not(:empty) {
    display: block;
    padding: 10px;
}

.menu-title {
    color: black;
    opacity: 1;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.5);
    padding: 5px 10px;
    display: inline-block;
}

.menu-title:hover + .submenu,
.submenu:hover {
    max-height: 200px;
    transition: max-height 1s;
}

.submenu:hover {
    display: block;
}

.menu-title:hover .submenu a {
    color: black;
}

.submenu a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.submenu a:hover {
    color: white;
}
